:root {
    --background-color: #FFFFFF;
    --background-color-two: #E1E1E1;
    --text-color: #515151;
    --text-color2: #FFC53D;
    --main-color: #FF9A3D;
    --shadow: #FAFAFF;
    --text-color-dark: #222222;
    --Ubuntu: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background-color: var(--background-color-two);
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.wrapper {
    min-width: 300px;
    width: auto !important;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background-color);
    box-sizing: border-box;
}

/* baner */
.cover {
    position: relative;
    background-image: url(../photo/coverPhoto.jpg);
    background-size: cover;
    background-position: center;
    height: 36.5625rem;
}

/* layer na banerze */
.overlayer {
    position: absolute;
    background-image: url(../photo/coverLayer.jpg);
    background-size: cover;
    background-position: center;
    height: 36.5625rem;
    width: 100%;
    opacity: 0.5;
    mix-blend-mode: lighten;
}

.cover h1 {
    color: var(--text-color2);
    position: relative;
    padding-top: 5rem;
    font-weight: bold;
    font-size: 6.25rem;
    text-align: center;
}

.cover div {
    position: relative;
    padding-top: 2rem;
    text-align: center;
}

/* social icons */
.fa {
    margin: 1rem;
    padding: 8px;
    height: 13px;
    width: 13px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--main-color);
    border-radius: 50%;
}

.cover h2 {
    color: var(--background-color);
    position: relative;
    padding-top: 0.75rem;
    font-weight: bold;
    text-align: center;
}

/* wysokosc sekcji pod banerem */
.undercover {
    height: 13.75rem;
}

.undercover h1 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: normal;
    padding: 2.5rem 0;
}

.button-container {
    text-align: center;
}

button {
    box-sizing: border-box;
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(0.25turn, var(--main-color), var(--text-color2));
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    color: #FFFFFF;
}

.buttonsmall {
    width: 6rem;
}

button:hover {
    background: var(--background-color);
    color: var(--text-color2);
    border: 1px solid var(--text-color2);
}

.undercover button:nth-of-type(2) {
    margin-left: 3rem;
}

/* szerokosc sekcji wewnętrznych */
.inner {
    width: 100%;
    max-width: 77.5rem;
    margin: 0 auto;
    height: inherit;
}

.topHeader {
    background-color: var(--background-color);
    min-height: 5.9375rem;
}

.topHeader .inner {
    display: flex;
    justify-content: space-between;
}

.topHeader .inner div:last-of-type {
    padding-right: 2rem;
}

.logo {
    padding-left: 6rem;
    color: var(--text-color);
}

.logo img {
    padding-top: 2rem;
}

.logo p {
    padding-left: 1rem;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
    line-height: 5.9375rem;
}

nav div {
    justify-content: flex-start;
}

nav a {
    font-weight: bold;
    margin-left: 2.5rem;
}

.about_me {
    display: grid;
    grid-template-rows: 4.75rem 1fr 4.75rem;
    grid-template-columns: repeat(12, 1fr);
    height: 26.875rem;
    margin-bottom: 3rem;
}

.about_shadow {
    grid-area: 1/1/4/9;
    background-color: var(--shadow);
}

.about_shadow h1 {
    color: var(--text-color-dark);
    padding: 1rem 0 1rem 15rem;
    font-size: 2rem;
    font-family: var(--Ubuntu);
}

.skills {
    display: grid;
    grid-template-rows: 4.75rem 1fr 4.75rem;
    grid-template-columns: repeat(12, 1fr);
    height: 26.875rem;
}

.skills_shadow {
    grid-area: 1/5/4/13;
    background-color: var(--shadow);
}

.skills_shadow h1 {
    color: var(--text-color-dark);
    padding: 1rem 0 1rem 5rem;
    font-size: 2rem;
    font-family: var(--Ubuntu);
}

.inner_box {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    grid-area: 2/2/3/12;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.skills .inner_box {
    justify-content: space-around;
}


.selfphoto {
    width: 6.5rem;
    margin: 3rem;
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.selfphoto img {
    border-radius: 50%;
    height: auto;
}

.info p {
    min-width: 18rem;
    color: var(--text-color2);
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 160%;
    border-right: 0.25rem dotted var(--text-color2);
}

.info p strong {
    color: var(--text-color-dark);
}

.text {
    margin-left: 1rem;
    line-height: 180%;
    padding-right: 1rem;
}

.skills .inner_box div {
    weight: 32%;
    flex: 1 1 auto;
    border-left: 0.25rem dotted var(--text-color2);
}

.skills .inner_box div:first-of-type {
    border-left: none;
}


div figure {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: var(--text-color2);
}

.skills .inner_box div p {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

figure figcaption {
    padding: 0.8rem 0 0.4rem 0;
}

.skills .inner_box div {
    text-align: center;
}

.contact {
    display: grid;
    grid-template-rows: 4.75rem 1fr 4.75rem;
    grid-template-columns: repeat(12, 1fr);
    height: 49rem;
}

.contact_shadow {
    grid-area: 1/1/4/13;
    background-color: var(--shadow);
}

.contact_shadow h1 {
    color: var(--text-color-dark);
    padding: 1rem 0 1rem 9rem;
    font-size: 2rem;
    font-family: var(--Ubuntu);
}

/* lewy div formularza */
.cleft {
    width: 45%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 170%;
}

.cleft>div:first-of-type {
    padding: 1.5rem 3.5rem 0 3.5rem;
}

.cleft>div:last-of-type {
    padding: 0 3.5rem 2rem 3.5rem;
    font-family: var(--Ubuntu);
}

.cleft>div:last-of-type h1 {
    font-size: 1.125rem;
    font-weight: bold;
}

/* prawy div formularza */
.cright {
    width: 55%;
    height: 100%;
}

.cright div {
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.cright div h1 {
    font-size: 2.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.cright div button {
    margin-top: 2rem;
    margin-left: auto;
}

.cright input,
.cright textarea {
    border-radius: 1rem;
    border: none;
    padding-left: 1.5rem;
    background-color: var(--shadow);
    color: #A0A0A0;
    font-family: var(--Ubuntu);
    font-weight: normal;
    height: 3.5rem;
    font-size: 1.125rem;
}

textarea {
    min-height: 180px;
}

textarea::placeholder {
    padding-top: 2rem;
}

.portfolio {
    height: 47.5rem;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 1fr;
    /*     display: flex;
    flex-wrap: wrap; */
    margin-bottom: 3rem;

}

.portfolio>h1 {
    text-align: center;
    color: var(--text-color-dark);
    padding: 2.5rem 0 1.5rem 0;
    font-size: 2rem;
    font-family: var(--Ubuntu);
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    grid-area: 1/1/2/2;
}

.portfolio_items {
    grid-area: 2/1/2/2;
    height: 41.5rem;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.portfolio_items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_items>div {
    position: relative;
}

/* overlay na zdjeciach */
.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 0 2rem;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
}

.overlay h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.overlay p {
    padding-bottom: 2rem;
}

/* uklad zdjec w porfolio */
.first {
    grid-column: 1 / span 4;
}

.second {
    grid-column: 5 / span 3;
}

.third {
    grid-column: 8 / span 4;
}

.fourth {
    grid-column: 1 / span 3;
}

.fifth {
    grid-column: 4 / span 8;
}

footer,
footer p {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    color: var(--text-color);
    padding: 1rem;
    margin-top: 0.1rem;
}

.socialfooter .fa {
    text-align: left;
    margin: 0.5rem;
}

/* Mobile Styles */
@media only screen and (max-width: 460px) {
    .cover h1 {
        font-size: 10vw;
    }

    .topHeader .inner div:last-of-type {
        display: none;
    }

    button {
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }

    .buttonsmall {
        width: 3rem;
    }

    .undercover {
        margin-bottom: 3rem;
    }

    .inner_box {
        flex-direction: column;
    }

    .info p {
        font-size: 0.75rem;
        text-align: center;
        border-right: none;
    }

    .info p:first-of-type {
        border-top: 0.25rem dotted var(--text-color2);
        padding-top: 3rem;
    }

    .info {
        padding: 1rem;
    }

    .cright input,
    .cright textarea {
        font-size: 0.75rem;
    }

    .about_shadow h1 {
        font-size: 1.5rem;
        padding-left: 50%;
    }

    .skills_shadow h1 {
        font-size: 1.5rem;
        padding-right: 50%;
    }

    .skills {
        margin-bottom: 7rem;
    }

    .skills .inner_box div {
        padding: 1rem;
        border-top: 0.25rem dotted var(--text-color2);
        border-left: none;
    }

    div figure {
        font-size: 1rem;
        line-height: 1rem;
    }

    .skills .inner_box div p {
        font-size: 1rem;
        line-height: 1rem;
    }

    figure img {
        width: 50%;
        height: auto;
    }

    .skills .inner_box div:first-of-type {
        border-top: none;
    }

    .about_me {
        margin-bottom: 9rem;
    }

    .text {
        display: none;
    }

    .second {
        grid-column: 1 / span 11;
    }

    .fifth {
        grid-column: 1 / span 11;
    }

    .first,
    .third,
    .fourth {
        display: none;
    }

    .portfolio {
        height: 34rem;
    }

    .portfolio_items {
        height: 28rem;
    }

    .overlay h1 {
        font-size: 1.75rem;
        padding-bottom: 0.5rem;
    }

    .overlay p {
        padding-bottom: 1rem;
    }

    .contact_shadow h1 {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
    }

    .cleft {
        display: none;
    }

    .cright {
        width: 100%;
    }

    .cright div h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .cright div button {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 461px) and (max-width: 960px) {
    .cover h1 {
        font-size: 10vw;
    }

    .topHeader .inner div:last-of-type {
        display: none;
    }

    .undercover {
        padding: 1rem;
    }

    button {
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }

    .buttonsmall {
        width: 3rem;
    }

    .inner_box {
        flex-direction: column;
    }

    .info p {
        border-right: none;
        text-align: center;
        min-width: none;

    }

    .info {
        border-top: 0.25rem dotted var(--text-color2);
        padding: 1rem;
    }

    .about_shadow h1 {
        font-size: 1.5rem;
        padding-left: 50%;
    }

    .skills_shadow h1 {
        font-size: 1.5rem;
        padding-right: 50%;
    }

    .skills {
        margin-bottom: 7rem;
    }

    .skills .inner_box div {
        padding: 1rem;
        border-top: 0.25rem dotted var(--text-color2);
        border-left: none;
    }

    div figure {
        font-size: 1rem;
        line-height: 1rem;
    }

    .skills .inner_box div p {
        font-size: 1rem;
        line-height: 1rem;
    }

    figure img {
        width: 50%;
        height: auto;
    }

    .skills .inner_box div:first-of-type {
        border-top: none;
    }

    .about_me {
        margin-bottom: 9rem;
    }

    .text {
        display: none;
    }

    .first {
        grid-column: 1 / span 6;
    }

    .second {
        grid-column: 7 / span 5;
    }

    .fifth {
        grid-column: 1 / span 11;
    }

    .third,
    .fourth {
        display: none;
    }

    .portfolio {
        height: 34rem;
    }

    .portfolio_items {
        height: 28rem;
    }

    .overlay h1 {
        font-size: 1.75rem;
        padding-bottom: 0.5rem;
    }

    .overlay p {
        padding-bottom: 1rem;
    }

    .contact_shadow h1 {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
    }

    .cleft {
        display: none;
    }

    .cright {
        width: 100%;
    }

    .cright div h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .cright div button {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop Styles - not used */
@media only screen and (min-width: 961px) {}